/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(255, 254, 254);
}

h1 {
    background-color: rgb(2, 2, 2);
    color: white;
    font-size: xx-large;
    text-align: center
  }